<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- added jquery ui theme from cdn for now (needs to be replaced with our custom theme) -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <%= stylesheet_link_tag "application", "admin/admin", :media => "all" %>
  <%= javascript_include_tag "application", "admin/admin" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= google_webfonts_link_tag "Ubuntu" => [300, 400, 500, 700] %>
</head>
<body class="<%= split_path %>">
  
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to root_path, id: "logo" do %>
          <img src="/assets/products/missing/thumb/missing.png" alt="<%= t('.Faee') %>"> <%= Setting.store_title %>
        <% end %>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <nav class="nav-collapse collapse">
          <ul id="primary-admin-menu" class="nav pull-right">
            <li>
              <%= link_to root_path do %>
                <i class="icon-white icon-home"></i> <%= t('.Home') %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="icon-white icon-user"></i> <%= t('.Profile') %>
              <% end %>
            </li>
            <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="icon-signout"></i> <%= t('.Logout') %>
            <% end %>
            </li>
        </nav>
      </div>
    </div>
  </header>
    <div class="row-fluid">
      <div class="second-admin-menu span2">
        <ul class="nav nav-list">
            <li <%= "class=active" if current_page?(admin_dashboard_path) || current_page?(admin_root_path) %>>
              <%= link_to admin_dashboard_path do %>
                <i class="icon icon-dashboard"></i><span class="hide"> <%= t('.Dashboard') %></span>
              <% end %>
            </li>
            <li <%= "class=active" if current_page?(admin_orders_path) %>>
              <%= link_to admin_orders_path do %>
                <i class="icon icon-pushpin"></i><span class="hide"> <%= t('.Orders') %></span>
              <% end %>
            </li>
            <li <%= "class=active" if current_page?(admin_products_path) %>>
              <%= link_to admin_products_path do %>
                <i class="icon icon-food"></i><span class="hide"> <%= t('.Products') %></span>
              <% end %>
            </li>
            <li <%= "class=active" if current_page?(admin_categories_path) %>>
              <%= link_to admin_categories_path do %>
                <i class="icon icon-tags"></i><span class="hide"> <%= t('.Categories') %></span>
              <% end %>
            </li>
            <li <%= "class=active" if current_page?(admin_pages_path) %>>
              <%= link_to admin_pages_path do %>
                <i class="icon icon-file-alt"></i><span class="hide"> <%= t('.Pages') %></span>
              <% end %>
            </li>
            <li <%= "class=active" if current_page?(admin_users_path) %>>
              <%= link_to admin_users_path do %>
                <i class="icon icon-group"></i><span class="hide"> <%= t('.Users') %></span>
              <% end %>
            </li>
            <li <%= "class=active" if current_page?(admin_stats_path) %>>
              <%= link_to admin_stats_path do %>
              <i class="icon-white icon-bar-chart"></i><span class="hide"> <%= t('.Statistics') %></span>
              <% end %>
            </li>
            <li <%= "class=active" if current_page?(admin_settings_path) %>>
              <%= link_to admin_settings_path do %>
                <i class="icon-white icon-cogs"></i><span class="hide"> <%= t('.Settings') %></span>
              <% end %>
            </li>
        </ul>
      </div>
      <div class="span10">
        <%= yield %>
      </div>
    </div>
</body>
</html>
